{# {% for ingredient_group in ingredients_group %} #}<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Grandcruwijnen</title>
    <link rel="stylesheet" href="{{ asset('style/style.css') }}">
</head>
<body class="body_ingredients">
    <label>
        <input type="text" id="searchbar" onkeyup="search_ingredient()" name="search" class="search__input"
            placeholder="Zoek hier naar ingrediënten..">
    </label>
    <center>
    <p class='search-text'>Typ hierboven het ingrediënt dat u wilt zoeken</p>
    </center>
    <form action='' method='GET'>
        <div id='allList'>
            {% for ingredient in ingredients %}
                {% set ingredientName = ingredient.name %}

                <input id='{{ ingredientName|replace({' ': ''})|replace({'&': ''}) }}' style='visibility:hidden;' class='selectIngredient' type='checkbox' value='{{ ingredientName }}' name="name[]" onclick='ingredientSelect()' {% if ingredientSelected != '' %} {% if ingredientName in ingredientSelected %} checked {% endif %} {% endif %}>
                <div class='ingredients' onclick='ingredientDivChoose({{ ingredientName|replace({' ': ''})|replace({'&': ''}) }})'>
                    {{ ingredientName }}
                </div>
            {% endfor %}
        </div>
        <button id='ingredientForm' type='submit' style='visibility:hidden;'>submitje</button>
    </form>
    
    {% set counterProduct = 0 %}
    {% for ingredient in ingredientSelected %}
        {% set counterProduct = counterProduct + 1 %}
        <div style='background-color:white; padding:10px; margin:10px; width:190px; text-align:left;'>
            {{ ingredient }}
            <a><img src='https://vanlaak.cc/img/delete-icon.png' onclick='removeIngredient({{ingredient|replace({' ': ''})|replace({'&': ''})}})' style='width:20px; float:right;'></a>
        </div>
    {% endfor %}

    {% if ingredientSelected != '' %}
    <button class='searchButton' href='' >Bereken de best bijpassende wijnen</button>
    {% endif %}

</body>
{% block javascripts %}
    <script>
        // JavaScript code
        function search_ingredient() {

            let input = document.getElementById('searchbar').value
            input = input.toLowerCase();
            let x = document.getElementsByClassName('ingredients');

            if(input == ''){
                document.getElementById('allList').style.display = 'none';
            } else {
                document.getElementById('allList').style.display = 'block';
            }

            for (i = 0; i < x.length; i++) {
                if (!x[i].innerHTML.toLowerCase().includes(input)) {
                    x[i].style.display = "none";
                } else {
                    x[i].style.display = "list-item";
                }
            }
        }

        function ingredientSelect(){
            document.getElementById('ingredientForm').click();
        }
        function ingredientDivChoose(idIngredient){

            var idIngredientt = idIngredient.value.replace(/ /g, "");
            var idIngredient2 = idIngredientt.replace("&", "");

            document.getElementById(idIngredient2).click();
            ingredientSelect();
        }
        function removeIngredient(nameIngredient){
            document.getElementById(nameIngredient.value.replace(/ /g, "").replace("&", "")).click();
            ingredientSelect();
        }


    </script>
{% endblock %}
</html>