{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block title %}Online sommelier | Categories!{% endblock %}

{% block body %}

    <div class="content" style="background-color: #e9dcd1; height: 100%">
        <div class="container">

            <img src='https://www.grandcruwijnen.nl/static/version1634749600/frontend/Grandcruwijnen/default/nl_NL/images/logo.svg'
                 alt='logo' class="logo">
            <button style="" type="button" class="btn btn-danger btn-sm" data-toggle="modal" onclick='goBack()'><i
                        class="fa fa-arrow-left" aria-hidden="true"></i> Terug
            </button>
            <div class="text">
                <h1 style='text-align:center;'>U het gerecht en wij adviseren de wijn!</h1>
                <p class="p"></p>
            </div>
        </div>
        <br>
        {% set imageCategory = ['https://www.grandcruwijnen.nl/static/version1634749600/frontend/Grandcruwijnen/default/nl_NL/Grandcruwijnen_SmartSommelier/images/93.svg','https://www.grandcruwijnen.nl/static/version1634749600/frontend/Grandcruwijnen/default/nl_NL/Grandcruwijnen_SmartSommelier/images/52.svg','https://www.grandcruwijnen.nl/static/version1634749600/frontend/Grandcruwijnen/default/nl_NL/Grandcruwijnen_SmartSommelier/images/78.svg','https://www.grandcruwijnen.nl/static/version1634749600/frontend/Grandcruwijnen/default/nl_NL/Grandcruwijnen_SmartSommelier/images/2.svg','https://www.grandcruwijnen.nl/static/version1634749600/frontend/Grandcruwijnen/default/nl_NL/Grandcruwijnen_SmartSommelier/images/139.svg','https://www.grandcruwijnen.nl/static/version1634749600/frontend/Grandcruwijnen/default/nl_NL/Grandcruwijnen_SmartSommelier/images/24.svg','https://www.grandcruwijnen.nl/static/version1634749600/frontend/Grandcruwijnen/default/nl_NL/Grandcruwijnen_SmartSommelier/images/109.svg','https://www.grandcruwijnen.nl/static/version1634749600/frontend/Grandcruwijnen/default/nl_NL/Grandcruwijnen_SmartSommelier/images/102.svg'] %}
        {% set imageCounterArr = -1 %}
        
        {% for meal in meals %}
            {% set imageCounterArr = imageCounterArr + 1 %}
        
                {% if meal.parent is null %}
                <section class="grid">
                    <a href="{{ path('meal_categories_for_parent', {parentId: meal.categoryId}) }}"
                    class="meal-name">
                        <div class="item">{{ meal.name }}</div>
                        <img src="{{ imageCategory[imageCounterArr] }}"
                            alt="" class="image">
                    </a>
                </section>

                {% else %}
                    <section class="grid-sub">
                        <a href="{{ path('meals_for_category', {categoryId: meal.categoryId}) }}" class="meal-name" style='heigth:50px;'>
                            {{ meal.name }}
                        </a>
                    </section>
                {% endif %}

            
        {% endfor %}
        
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('javascript/script.js') }}"></script>
{% endblock %}