{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/style.css') }}">
{% endblock %}

{% block title %}Hello MealController!{% endblock %}

{% block body %}

    <div class="text" style="text-align: center">
        <h1>U het gerecht en wij adviseren de wijn!</h1>
        <p>Als Grandcruwijnen bieden wij u een Online Sommelier welke dag-en-nacht voor u gereed staat. Deze functie is makkelijk te gebruiken. <br>U kiest uit een zeer uitgebreide lijst aan gerechten en de Online sommelier adviseert u de geschikte wijnen en adviseert bij de wijnen <br> de best bijpassende gerechten. Als u in een creative stemming bent en uw eigen gerecht wilt samenstellen dan kan dit ook!</p>
        <p class="p"></p>
    </div>
    {% for meal in meals %}
        <section class="grid">
            {% if meal.parent is null %}
                <a href="{{ path('meal_categories_for_parent', {parentId: meal.categoryId}) }}" class="meal-name">
                    <div class="item">{{ meal.name }}</div>
                    <img src="https://www.grandcruwijnen.nl/static/version1634749600/frontend/Grandcruwijnen/default/nl_NL/Grandcruwijnen_SmartSommelier/images/93.svg"
                         alt="" class="image">
                </a>

            {% else %}
                <a href="{{ path('meals_for_category', {categoryId: meal.categoryId}) }}" class="meal-name">
                    <div class="item">{{ meal.name }}</div>
                </a>
            {% endif %}
        </section>
    {% endfor %}
{% endblock %}