{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block title %}Online sommelier | Meals!{% endblock %}

{% block body %}

    <style>
        body {
            background-color: #F5F4ED;
        }
    </style>
    {# https://mealmatcher.grandcruwijnen.nl/meals/%7B12de8bb3-8ce2-43a9-8b09-d56161365ebc%7D #}
    <img src='https://www.grandcruwijnen.nl/static/version1634749600/frontend/Grandcruwijnen/default/nl_NL/images/logo.svg'
         alt='logo' class="logo_landing_page">
    <div class="example-wrapper" style='text-align:center; padding-bottom:50px;'>
    <button style="position: relative; top: 5px;" type="button" class="btn btn-danger btn-sm" data-toggle="modal" onclick='goBack(window.location.href)'><i
                class="fa fa-arrow-left" aria-hidden="true"></i> Terug
    </button>
        <h1 style='text-align: center; width: 70%; margin: auto; margin-right: 15%; float: right;'>Welkom bij de online sommelier</h1>
        <p class="mealsDescription">Hier kunt u uw gerecht kiezen en dan worden er bijpassende wijnen gezocht.</p>
    </div>

    <div class="container" style='width:100%;'>
        <div class="row" id="row">
            {% for meal in meals %}
                <script>
                    localStorage.removeItem('mealId');
                    localStorage.setItem('mealId',window.location.href);
                </script>
                <div class="col-sm-3" id="column" style="background-color: #e9dcd1;">
                    <img src="https://mealmatcher.grandcruwijnen.nl/meals/{{ meal.id }}" alt="{{ meal.name }}"
                        class="mealImage">
                    <p style='margin-top:20px;'>{{ meal.name }}</p>
                    <a href="{{ path('wines_for_meals', {mealId: meal.id}) }}">
                        <button type="button" class="btn btn-danger btn-sm">Selecteer <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </button>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>



{% endblock %}

{% block javascripts %}
    <script src="{{ asset('javascript/script.js') }}"></script>
{% endblock %}