{% extends 'base.html.twig' %}

{% block title %}Hello MealController!{% endblock %}

{% block body %}
    <style>

        body{
            background-color:#e9dcd1;
        }

        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }

    </style>

            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" onclick='goBack()' style='display:block; float:right; margin-top: 58px; margin-right:170px ;'><i class="fa fa-shopping-cart" aria-hidden="true"></i>  Winkelmandje</button>
    <div class="container">
    <img src='https://www.grandcruwijnen.nl/static/version1634749600/frontend/Grandcruwijnen/default/nl_NL/images/logo.svg' alt='logo' style='padding:40px;'>
        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" onclick='goBack()'><i class="fa fa-arrow-left" aria-hidden="true"></i>  Terug</button>     </div>

    <div class="example-wrapper" style='text-align:center;padding-bottom:50px;'>
        <h1>Welkom bij de online sommelier</h1>
        <p>Hier kunt u uw gerecht kiezen en dan worden er bijpassende wijnen gezocht.</p>
    </div>
<<<<<<< Updated upstream
    {% for wine in wines %}
        <p>{{wine.id}}</p>
=======

    <div class="container" style='width:100%;'>
        <div class="row" style='display: flex; flex-wrap: wrap;justify-content:center;'>
    {% for match in matches %}

            <div class="col-sm-3" style="text-align: center; padding: 10px 10px 10px 10px; margin:5px; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
                <img src='https://www.saq.com/media/catalog/product/1/4/14301402-1_1580352919.png' style='width:200px;'>
                <p>{{match.wine.sku}}</p>
                
                <!-- Trigger the modal with a button -->
                <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#myModal"><i class="fa fa-info-circle" aria-hidden="true"></i> Meer informatie</button>
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal"><i class="fa fa-shopping-cart" aria-hidden="true"></i>  Winkelmandje</button>
                
                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">
                    
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Wijn</h4>
                        </div>
                        <div class="modal-body">
                            <p>Some text in the modal.</p>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
>>>>>>> Stashed changes
           {# <p><a href="{{ path('wines_for_meal', {wineId: wine.wineId}) }}"> {{ wine.wineId }}</a>
                </p> #}
            {# <img src="https://mealmatcher.grandcruwijnen.nl/meal_matches/{{ wine.wineId }}" alt=""> #}
        {% endfor %}

<<<<<<< Updated upstream
{% endblock %}


=======
<script>
function goBack(){
    window.history.back();
}
</script>
{% endblock %}
>>>>>>> Stashed changes
