{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('style/style.css') }}">
{% endblock %}

{% block title %}
    Online sommelier | Wines
{% endblock %}

{% block body %}
    <body style="background-color: #e9dcd1;">
    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" id="shopping-cart_btn"
            style='display:block; float:right; margin-top: 58px; margin-right:170px ;'>
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        Winkelmandje
    </button>
    <div class="container">
        <img src='https://www.grandcruwijnen.nl/static/version1634749600/frontend/Grandcruwijnen/default/nl_NL/images/logo.svg'
             alt='logo' style='margin: 30px 30px 30px -7vw;'>

        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" onclick='goBack(window.location.href)'>
            <i
                    class="fa fa-arrow-left" aria-hidden="true"></i> Terug
        </button>
    </div>

    <div class="example-wrapper" style='text-align:center;padding-bottom:50px;'>
        <h1>Welkom bij de online sommelier</h1>
        <p>Hier kunt u kiezen uit de best bijpassende wijnen gezocht bij het geselecteerde gerecht.</p>

        {% set mealId = app.session.get('mealId') %}

    </div>
    <div class="row"
         style='display: flex; flex-wrap: wrap;justify-content:right; margin-right: 1%; background-color: #e9dcd1;'>
        <div id="slider-container" data-role="page">
            <div data-role="main" class="ui-content">
                <form method="GET" action="" data-ajax="false">
                    <div data-role="rangeslider">
                        <label for="price-min">Prijs:</label>
                        <input class="price-s" style="background-color: #b5191f; color: #fff; font-weight: 100;"
                               type="range" name="price-min" id="price-min" value="{{ min_price }}"
                               min="{{ minWinePrice }}" max="{{ maxWinePrice|round }}"
                               step="0.05">
                        <label for="price-max"></label>
                        <input class="price-label" style="background-color: #b5191f; color: #fff; font-weight: 100"
                               type="range" name="price-max" id="price-max" value="{{ max_price }}"
                               min="{{ minWinePrice }}" max="{{ maxWinePrice|round }}"
                               step="0.05">
                    </div>
                    <button type="submit" class="btn btn-danger btn-sm">Submit</button>
                </form>
            </div>
        </div>

        <div class="filter" style="margin-top: 8vh; margin-right: 10px">
            <input id="wit" type="checkbox"/>
            <input id="rood" type="checkbox"/>
            <input id="rose" type="checkbox"/>
            <input id="port" type="checkbox"/>
            <input id="sherry" type="checkbox"/>
            <input id="madeira" type="checkbox"/>
            <input id="vermout" type="checkbox"/>

            <div class="filter__control">
                <label class="filter__button" for="wit">Wit</label>
                <label class="filter__button" for="rood">Rood</label>
                <label class="filter__button" for="rose">Rosé</label>
                <label class="filter__button" for="port">Port</label>
                <label class="filter__button" for="sherry">Sherry</label>
                <label class="filter__button" for="madeira">Madeira</label>
                <label class="filter__button" for="vermout">Vermout</label>
            </div>
        </div>

        {% for match in matches %}
            <div class="col-sm-3" id="producten" data-filter="{{ match.product.wineSort }}">
                <img src="https://www.grandcruwijnen.nl/media/catalog/product{{ match.product.image }}"
                     class="imageWine" alt="{{ match.product.sku }}"/>
                <p>{{ match.product.name }} - {{ match.product.sku }}</p>
                <p>Prijs: €{{ match.product.price }}</p>
                <!-- Trigger the modal with a button -->
                <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal"
                        data-target="#myModal{{ match.product.id }}">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                    Meer informatie
                </button>
                <button type="button" class="btn btn-danger btn-sm">
                    <i class=" fa fa-shopping-cart" aria-hidden="true"></i>
                    Winkelmandje
                </button>
                <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal"
                        data-target="#ModalSommelier" style="padding-top: 1px; height: 30px;">
                    <i aria-hidden="true"></i>
                    <img src="https://www.grandcruwijnen.nl/media/menu_builder/c/o/corkscrew.svg" alt="corkscrew">
                    Score:
                    {{ match.score|number_format(0) }}
                </button>

                {% include "wines/modal.html.twig" %}
            </div>
        {% endfor %}
    </div>
    <br>
    {% include "wines/pagination.html.twig" %}
    <br>
    </body>
{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="{{ asset('javascript/script.js') }}"></script>
{% endblock %}
