<div id="pagination">
    <ul>
        {% set mealId = meal_id[0] %}
        <li {% if current_page == 1 %}class="active"{% endif %}>
            <a href="{{ path('wines_for_meals', {mealId, 'page':1,'min_price': min_price, 'max_price': max_price}) }}"
               data-ajax="false">1</a>
        </li>
        <li {% if current_page == 2 %}class="active"{% endif %}>
            <a href="{{ path('wines_for_meals', {mealId, 'page':2,'min_price': min_price, 'max_price': max_price}) }}"
               data-ajax="false">2</a>
        </li>

        {% if current_page > 3 and current_page < total_pages - 3 %}
            <li>
                <a href="{{ path('wines_for_meals', {mealId, 'page': current_page - 1,'min_price': min_price, 'max_price': max_price}) }}"
                   data-ajax="false">
                    {{ current_page -  1 }}
                </a>
            </li>
        {% endif %}

        {% if current_page > 3 %}
            <li>
                <a>...</a>
            </li>
        {% endif %}

        {% if current_page > 2 and current_page < total_pages - 1 %}
            <li class="active">
                <a href="{{ path('wines_for_meals', {mealId, 'page': current_page,'min_price': min_price, 'max_price': max_price}) }}"
                   data-ajax="false">
                    {{ current_page }}
                </a>
            </li>
        {% endif %}

        {% if current_page > 1 and current_page < total_pages - 2 %}
            <li>
                <a href="{{ path('wines_for_meals', {mealId, 'page': current_page + 1,'min_price': min_price, 'max_price': max_price}) }}"
                   data-ajax="false">
                    {{ current_page + 1 }}
                </a>
            </li>
        {% endif %}

        {% if current_page < total_pages - 3 %}
            <li>
                <a>...</a>
            </li>
        {% endif %}


        <li {% if current_page == total_pages - 1 %}class="active"{% endif %}>
            <a href="{{ path('wines_for_meals', {mealId, 'page': total_pages - 1,'min_price': min_price, 'max_price': max_price}) }}"
               data-ajax="false">{{ total_pages - 1 }}</a>
        </li>
        <li {% if current_page == total_pages %}class="active"{% endif %}>
            <a href="{{ path('wines_for_meals', {mealId, 'page': total_pages,'min_price': min_price, 'max_price': max_price}) }}"
               data-ajax="false">{{ total_pages }}</a>
        </li>

    </ul>
</div>